<div class="header">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <label class="title">Nexscend</label>
      <div class="dropdown">
        <img alt="" src="assets\image\people.svg" width="40" height="40" class="dropbtn" />
        <div class="dropdown-content">
          <a href="#">Login</a>
          <a href="#">About</a>
          <a href="#">Logout</a>
        </div>
      </div>
                                                                                                                      
    </div>
  </nav>
  
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #add8e6;">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" style="margin-left: 30px;">
          <a class="nav-link" style="font-weight : bold" routerLinkActive="active" routerLink="/dashboard">Candidate</a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
          <a class="nav-link" style="font-weight : bold" routerLinkActive="active" routerLink="interview">Interview</a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
          <a class="nav-link" style="font-weight : bold" routerLinkActive="active" routerLink="employeeList">Employee</a>
        </li>
      </ul>
    </div>
  
  </nav>
</div>

