.container2{
    margin-top: 70px;
    margin-left: 150px;
    
}

.container{
    margin-top: 20px;
    margin-left: 140px;
}
.titelView{
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 100, 100);
}

.title{
    font-size: 23px;
}

#hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 10s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}