<div class="card mb-3 container2" style="width: 500px;">
    <div class="card-header d-flex justify-content-between align-items-center">
    <h5 *ngIf="interviewReschdule">Reschedule/Update Interview</h5>
    <h5 *ngIf="candidateSelect">Add Interview Candidate</h5>
    <h5 *ngIf="!interviewReschdule && candidateView ">Add Interview</h5>
        <button  type="button" class="btn-close" aria-label="Close" (click)="close()" style="color: black;"></button>
    </div>
    <div class="card-body">
        <form [formGroup]="formData" >
                <div *ngIf="candidateView">
                    
                    <div>
                        <label class="form-label title">Candidate Details</label>
                    </div>
                    <div>
                        <label class="form-label">Candidate Name : </label>&nbsp;
                        <label class="form-label">{{candidateObject?.firstName}} {{candidateObject?.lastName}} (
                            {{(patchPosition(candidateObject?.jobRequirement))}} ) 
                        </label>
                    </div>
                    <div>
                        <label class="form-label">Email : </label>&nbsp;
                        <label class="form-label">{{candidateObject?.email}}
                        </label>
                    </div>
                    <div>
                        <label class="form-label">Phone :</label>&nbsp;
                        <label class="form-label">{{candidateObject?.phoneNo}}
                        </label>
                    </div>
                    
                    <div>
                        <label *ngIf="interviewReschdule && interviewObejct?.interviewCount" class="form-label titelView">It is
                            {{interviewObejct?.interviewCount}} Reschedule Interview</label>
                    </div>
                </div>
                <div class="mb-3" *ngIf="interviewReschdule">
                    
                        
                    <label class="form-label">Interview Status *</label>
                    <select [(ngModel)]="selectedStatus" data-style="btn-default"
                        class="form-control selectpicker form-select" formControlName="interviewStatus">
                        <option selected disabled value="">-- Select --</option>
                        <option *ngFor="let i of configDataMasterValues" [value]="i.configKey" [id]="i.configKey">
                            {{i.configValue}} </option>         
                    </select>
                    <div *ngIf="f['interviewStatus'].errors">
                        <div *ngIf="f['interviewStatus'].touched || submitted" >
                            <div *ngIf="f['interviewStatus'].errors['required']" style="color: rgb(194, 17, 17);">Interview Status is required</div>
                        </div>
                    </div>
                </div>
                
            <div class="mb-3" *ngIf="candidateSelect">
               
    
                <label class="form-label">Candidate Name *</label><span>&nbsp;&nbsp;</span>
                <select data-style="btn-default" formControlName="candidateId" class="form-control selectpicker form-select">
                    <option selected disabled value="">-- Select --</option>
                    <option *ngFor="let name of candidateList" [ngValue]="name.id" [id]="name.id"> {{name.firstName | titlecase}}
                        {{name.lastName | titlecase}}</option>
                </select>
                <div *ngIf="f['candidateId'].errors ">
                    <div *ngIf="f['candidateId'].touched || submitted" >
                        <div *ngIf="f['candidateId'].errors['required']" style="color: rgb(194, 17, 17);"> Candidate Name is required</div>
                    </div>
                </div>
            </div>
            <div class="mb-3" *ngIf="candidateSelect || candidateView">
               
    
                <label class="form-label">Interviewer Name *</label><span>&nbsp;&nbsp;</span>
                <select data-style="btn-default" formControlName="employeeId" class="form-control selectpicker form-select">
                    <option selected disabled value="">-- Select --</option>
                    <option *ngFor="let i of employeesList" [ngValue]="i.id" [id]="i.id"> {{i.firstName}} {{i.lastName}}</option>
                </select>
                <div *ngIf="f['employeeId'].errors">
                    <div *ngIf="f['employeeId'].touched || submitted" >
                        <div *ngIf="f['employeeId'].errors['required']" style="color: rgb(194, 17, 17);">Name is required</div>
                    </div>
                </div>
            </div>

            <div class="mb-3" *ngIf="candidateSelect || candidateView">
                
                <label class="form-label">Schedule Date and Time *</label>
                <input type="datetime-local" formControlName="interviewSlot" class="form-control" />
                <div *ngIf="f['interviewSlot'].errors">
                    <div *ngIf=" f['interviewSlot'].touched || submitted" >
                        <div *ngIf="f['interviewSlot'].errors['required']" style="color: rgb(194, 17, 17);">Schedule Date and Time is required</div>
                    </div>
                </div>
            </div>
            <div class="mb-3" *ngIf="interviewReschdule">
               
                <label class="form-label">Feedback *</label>
                <textarea type="text" formControlName="feedback" class="form-control" ></textarea>
                <div *ngIf="f['feedback'].errors">
                    <div *ngIf="f['feedback'].touched || submitted" >
                        <div *ngIf="f['feedback'].errors['required']" style="color: rgb(194, 17, 17);">Feedback is required</div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                
                <button *ngIf="candidateSelect || !interviewReschdule && candidateView " class="btn text-dark" (click)="onSubmit()" style="background-color: rgb(226, 226, 226);">
                    <span></span>
                    Submit
                </button>
                <button *ngIf="interviewReschdule"  (click)="onSubmit()" class="btn text-dark" style="background-color: rgb(226, 226, 226);">
                    <span></span>
                    Reschedule
                </button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn text-dark" style="background-color: rgb(226, 226, 226);"
                    (click)="clearFrom()"><span></span>Clear</button>
               
            </div>
            <div style="color: rgb(4, 4, 255);margin-top: 5px;" id="hideMeAfter5Seconds">{{message}}</div>
        </form>
    </div>
    
    <router-outlet></router-outlet>
    
</div>
<router-outlet></router-outlet>
<div class="container" *ngIf="interviewReschdule">
    
    <div class="d-flex justify-content-between align-items-center">
        <div class="title">Rescheduled Interview Details</div>
    </div>
    <div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Interview Slot</th>
                <th>Candiddate Name</th>
                <th>Interviewer Name</th>
                <th>Feedback</th>
                <th>Arrange By</th>
                <th>Interview Status</th>
                
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let interviewRescheduled of interviewRescheduledHistory">
               
                <td>{{interviewRescheduled.interviewSlot | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{interviewRescheduled.candidate?.firstName}} {{interviewRescheduled.candidate?.lastName}}</td>
                <td>{{interviewRescheduled.employee?.firstName}} {{interviewRescheduled.employee?.lastName}}</td>
                <td>{{interviewRescheduled.feedback}}</td>
                <td>{{interviewRescheduled.modifiedBy}}</td>
                <td>{{interviewRescheduled.interviewStatus}}</td>
            </tr> 
        </tbody>
    </table>
    <router-outlet></router-outlet>
</div>