.container2{
    margin-top: 70px;
    margin-left: 150px;
    
}

.container{
    margin-top: 20px;
    margin-left: 140px;
}
.titelView{
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 100, 100);
}

.title{
    font-size: 23px;
}