<div class="card mb-3 container2" style="width: 600px;">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4></h4>

        <button type="button" class="btn-close" aria-label="Close" (click)="close()" style="color: black;"></button>
    </div>
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Employee Name</label><span>&nbsp;&nbsp;</span>
                <select (click)="changeName($event)" data-style="btn-default" class="form-control selectpicker">
                    <option *ngFor="let i of employees" [ngValue]="i"> {{i.name}} </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Schedule Date and Time</label>
                <input type="datetime-local" formControlName="schduleDateTime" class="form-control" />
            </div>
            <div>
                <button [disabled]="loading" class="btn text-dark" style="background-color: rgb(226, 226, 226);">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Submit
                </button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn text-dark" style="background-color: rgb(226, 226, 226);"
                    (click)="clearFrom()"><span></span>Clear</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <h2>Scheduled Interview</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Position</th>
                <th style="width: 15%">First Name</th>
                <th style="width: 10%">Last Name</th>
                <th style="width: 15%">Skills</th>
                <th style="width: 15%">Resume</th>
                <th style="width: 10%">Comment</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidat">
                <td>{{candidate.position}}</td>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lname}}</td>
                <td>{{candidate.skills}}</td>
                <td>{{candidate.fileUpload}}</td>
                <td>{{candidate.comment}}</td>

            </tr>

        </tbody>
    </table>
</div>