<div class="card mb-3 container2" style="width: 1000px;">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Edit Employee</h4>

        <button type="button" class="btn-close" aria-label="Close" (click)="close()" style="color: black;"></button>
    </div>
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">Aadhar Card</label>
                    <input type="text" formControlName="acardNum" class="form-control" />
                </div>
                
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" />
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lname" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" />
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Phone No</label>
                    <input type="number" formControlName="phone" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">Joining date</label>
                    <input type="Date" formControlName="jDate" class="form-control" />
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="Date" formControlName="dob" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-3">
                    <label class="form-label">Country</label>
                    <input type="text" formControlName="country" class="form-control" />
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">State</label>
                    <input type="text" formControlName="state" class="form-control" />
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">City</label>
                    <input type="text" formControlName="city" class="form-control" />
                </div>
            </div>
            <div class="row">
            
                <div class="col-4 mb-3">
                    <label class="form-label">Aadhar Card</label>
                <input class="form-control" formControlName="adadharcard" accept=".pdf" type="file"
                    (change)="onChange($event)" />
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Pan Card</label>
                    <input class="form-control" formControlName="pancard" accept=".pdf" type="file"
                        (change)="onChange($event)" />
                </div>
                <div class="col-4 mb-3">
                    <label class="form-label">Marksheet</label>
                    <input class="form-control" formControlName="marksheet" accept=".pdf" type="file"
                        (change)="onChange($event)" />
                </div>
               
            </div>
           
            <div>
                <button [disabled]="loading" class="btn text-dark" style="background-color: rgb(226, 226, 226);">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Submit
                </button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn text-dark" style="background-color: rgb(226, 226, 226);"
                    (click)="clearFrom()"><span></span>Clear</button>
            </div>
        </form>
    </div>
</div>