.container2{
    margin-top: 70px;
    margin-left: 150px;
    
}
.closeButton{
    margin-left: 30px;
}
.form-group.is-invalid {
    .invalid-feedback {
        display: block;
    }
}
.fw-bold{
    font-weight: 100px;
}

@media(max-width: 768px) {
    .card {
      width: 330px;
    }
  }