<div class="card mb-3 container2" style="width: 1000px;">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>{{title}} Candidate Details</h4>

        <button type="button" class="btn-close" aria-label="Close" (click)="close()" style="color: black;"></button>
    </div>
    <div class="card-body">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="d-flex justify-content-between align-items-center col-6 mb-3">
                    <label class="form-label">Choose Position *</label>
                  
                    <select [(ngModel)]="selectedPosition" data-style="btn-default" class="selectpicker form-select" formControlName="position">
            
                        <option selected disabled value="">Select</option>
                        <option *ngFor="let name of getPosition()" [value]="name">
                            {{name}} </option>
                            <div *ngIf="submitted && f['position'].errors">
                                <div *ngIf="f['position'].errors['required'] || f['position'].touched">Select Candidate Position is
                                    required</div>
                            </div>
                    </select>
            
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label">Candidate Name *</label>
                    <input type="text" formControlName="candidateName" class="form-control"
                        />
                    <div *ngIf="submitted && f['candidateName'].errors ">
                        <div *ngIf="f['candidateName'].errors['required'] || f['candidateName'].touched">Candidate Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">Email *</label>
                    <input type="email" formControlName="email" class="form-control"
                         />
                    <div *ngIf="submitted && f['email'].errors">
                        <div *ngIf="f['email'].errors['required'] || f['email'].touched">Candidate Email is required</div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Phone No *</label>
                    <input type="number" formControlName="phone" class="form-control"
                        />
                    <div *ngIf="submitted && f['phone'].errors" >
                        <div *ngIf="f['phone'].errors['required'] || f['phone'].touched" >Candidate Phone Number is required</div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Skills *</label>
                <input type="text" formControlName="skills" class="form-control"
                    />
                <div *ngIf="submitted && f['skills'].errors" >
                    <div *ngIf="f['skills'].errors['required'] || f['skills'].touched">Candidate Skills is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="form-label">Upload Resume *</label>
                    <input class="form-control" formControlName="fileUpload" accept=".pdf" type="file"
                        (change)="onChange($event)"  />
                    <div *ngIf="submitted && f['fileUpload'].errors">
                        <div *ngIf="f['fileUpload'].errors['required'] || f['fileUpload'].touched">Candidate Resume is required</div>
                    </div>
                </div>
                <div class="col-6 mb-3" *ngIf="updateCandidate && selectedStatus === 'Offer-Accepted'">
                    <label class="form-label">Joining Date</label>
                    <input type="Date" formControlName="jDate" class="form-control" />

                </div>
            </div>

            <div class="row">

                <div class="col-6 mb-3" *ngIf="updateCandidate">
                    <label class="form-label">Status</label>

                    <select [(ngModel)]="selectedStatus"  data-style="btn-default" formControlName="candidateStatus"
                        class="form-control selectpicker form-select" data-live-search="true">
                        <option *ngFor="let name of getCandidateStatus()" [value]="name">
                            {{name}} </option>
                    </select>
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label">Joining Availability *</label>
                    <select  data-style="btn-default"
                        class="form-control selectpicker form-select" formControlName="candidateAvailability">
                        <option selected disabled value="">Select</option>
                        <option *ngFor="let name of getAvailability()" [value]="name">
                            {{name}} </option>
                            <div *ngIf="submitted && f['candidateAvailability'].errors" >
                                <div *ngIf="f['candidateAvailability'].errors['required'] || f['candidateAvailability'].touched">Select Candidate Availability is required</div>
                            </div>
                    </select>
                    
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <textarea type="textarea" formControlName="comment" class="form-control"></textarea>
            </div>

            <div>
                <button [disabled]="submitting" class="btn text-dark" style="background-color: rgb(226, 226, 226);">
                    <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                    Submit
                </button>
                <span>&nbsp;&nbsp;</span>
                <button class="btn text-dark" style="background-color: rgb(226, 226, 226);"
                    (click)="clearFrom()"><span></span>Clear</button>
            </div>
        </form>
       
    </div>
</div>

<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>