.container2{
    margin-top: 70px;
    margin-left: 150px;
    width: 1000px;
}
.closeButton{
    margin-left: 30px;
}
.form-group.is-invalid {
    .invalid-feedback {
        display: block;
    }
}
.fw-bold{
    font-weight: 100px;
}


#hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 10s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media only screen and (max-width:800px) {
    .container2{
    margin-top: 100px;
    margin-left: 0px; 
    width: 100%;
    }
    
   
}