

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="title">Scheduled Interview</div>
    </div>
    <div>
        <div class="d-flex justify-content-between align-items-center">
           <h1></h1>
            <div class="dropdown">
                <select data-style="btn-default"
                        class="form-control selectpicker form-select" data-style="btn-default" class="selectpicker form-select">
                       
                            <option selected disabled value="">-- Select --</option>
                            <option><a class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="previousInterview()">Previous Interview</a></option>
                            <option><a class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="allInterview()">All Interview</a></option>
                            <option><button class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="tommorowInterview()">Tommorow Interview</button></option>
                          
                    </select>
              </div>
              <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="previousInterview()">Previous Interview</button>
                            <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="allInterview()">All Interview</button>
                            <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                            (click)="tommorowInterview()">Tommorow Interview</button>
            <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
                routerLinkActive="active" routerLink="../interviewUpdate/">Schedule Interview </button>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Interview Slot</th>
                <th>Job Requirement</th>
                <th>Candidate</th>
                <th>Email</th>
                <th>Phone No</th>
                <th>Resume</th>
                <th>Interviewer</th>
                <th>Interview Status</th>
                <th>Arrange By</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interview of interviewList">
                <td>{{interview?.schduleDateTime | date: 'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{getPosition(interview?.candidate?.position)}}</td>
                <td>{{interview?.candidate?.firstName | titlecase}} {{interview.candidate?.lastName | titlecase}} </td>
                <td>{{interview?.candidate?.email}}</td>
                <td>{{interview?.candidate?.phoneNo}}</td>
                <td><a alt="" src="assets\image\resume.svg" style="color: rgb(44, 153, 255);cursor: pointer;" width="30" height="30"
                        (click)="download(interview?.candidate?.documentDetails?.fileName)">{{interview?.candidate?.documentDetails?.fileName}}</a>
                </td>
                <td>{{interview?.employee?.firstName | titlecase}} {{interview?.employee?.lastName | titlecase}}</td> 
                <td>{{interview.status}}</td>
                <td>{{interview?.modifiedBy}}</td>
                <td style="white-space: nowrap">
                    <img alt="" src="assets\image\pen.svg" width="20" height="20" routerLinkActive="active"
                        routerLink="../interview/{{interview?.candidate?.id}}" />
                </td>
            
            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
</div>