

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="title">Scheduled Interview</div>
        <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
            routerLinkActive="active" routerLink="../interviewUpdate/">Schedule Interview </button>
    </div>
    <table class="table thead-dark w-200">
        <thead>
            <tr>
                <th style="width: 10%">Position</th>
                <th style="width: 15%">Candidate</th>
                <th style="width: 15%">Interviewer</th>
                <th style="width: 10%;">Interview Status</th>
                <th style="width: 15%">Schedule Date Time</th>
                <th style="width: 10%;">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let interview of interviewList">
                <td>{{getPosition(interview?.candidate?.position)}}</td>
                <td>{{interview?.candidate?.firstName}} {{interview.candidate?.lastName}}</td>
                <td>{{interview.employeeName}}</td> 
                <td>{{interview.status}}</td>
                <td>{{interview?.schduleDateTime | date: 'medium'}}</td>
                <td style="white-space: nowrap">
                    <img alt="" src="assets\image\pen.svg" width="20" height="20" routerLinkActive="active"
                        routerLink="../interviewUpdate/{{interview.id}}" />
                </td>
            
            </tr>
        </tbody>
    </table>
    <router-outlet></router-outlet>
</div>