.container{
    margin-top: 70px;
    margin-left: 100px;
    max-width: 1700px
}
/* .btnimage{

    background-image: url('D:\Developer\new Project\candidate-panel\src\assets\image\pdfView.svg') !important;
    width:"40";
    height:"40";
} */
.title{
    font-size: 30px;
    font-weight: 500px;
}
.table{
    margin-top: 10px; 
}
.tr{
    font-weight: 100px;
}
