<div class="container">
    <div class="title2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="title">Candidate Details</div>


        </div>
        <div>
            <div class="d-flex justify-content-end align-items-center">
                <h1></h1>
                <div class="dropdown">
                    <select (change)="selectList(selectedStatus)" [(ngModel)]="selectedStatus" data-style="btn-default" class="form-control selectpicker form-select" data-live-search="true">
                        <option selected disabled value="">-- Select --</option>
                        <option *ngFor="let i of configDataMasterValues" [ngValue]="i.configKey" [id]="i.configValue">
                            {{i.configValue}} </option>
                    </select>
                </div>
                <button type="submit" class="btn text-dark border border-dark fw-bold"
                    style="background-color: rgb(226, 226, 226);width: 170px;height: 40px;" routerLinkActive="active"
                    routerLink="../candidate/"> Add Candidate </button>
        
            </div>
        
        </div>
        <div class="table-responsive" id="no-more-tables">
            <table class="table table-striped w-200">
                <thead>
                    <tr>
                        <th>Job Requirement</th>
                        <th>Application Date</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Resume</th>
                        <th>Joining Availability</th>
                        <th>Candidate Status</th>
                        <th>Joining Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let candidate of candidateList">
                        <td>{{getPosition(candidate.jobRequirement)}}</td>
                        <td>{{candidate.applicationDate | date:'dd-MMM-yyyy'}}</td>
                        <td>{{candidate.firstName | titlecase}} {{candidate.lastName | titlecase}} </td>
                        <td>{{candidate.email}}</td>
                        <td>{{candidate.phoneNo}}</td>
                        <td><a alt="" style="color: rgb(31, 147, 255);cursor: pointer;" width="30" height="30"
                                (click)="download(candidate?.documentDetails?.fileName)">{{candidate?.documentDetails?.fileName}}</a>
                        </td>
                        <td>{{getAvailability(candidate.joiningAvailability)}}</td>
                        <td>{{candidate.candidateStatus}}</td>
                        <td>{{candidate.joiningDate | date:'dd-MMM-yyyy'}}</td>
                        <td style="white-space: nowrap">
                            <img alt="" src="assets\image\see-icon.svg" width="30" height="30" routerLinkActive="active"
                                routerLink="../view/{{candidate.id}}/" /><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <img alt="" src="assets\image\pen.svg" width="20" height="20" routerLinkActive="active"
                                routerLink="../edit/{{candidate.id}}/" /><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <img alt="" src="assets\image\interview-icon.svg" width="30" height="30"
                                routerLinkActive="active" routerLink="../interview/{{candidate.id}}/" />

                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        
        
        <router-outlet></router-outlet>
    </div>