<div class="container">
    <div class="title2">
    <div class="d-flex justify-content-between align-items-center">
        <div class="title">Candidate Details</div>
        <button type="submit" class="btn text-dark border border-dark fw-bold" style="background-color: rgb(226, 226, 226);"
            routerLinkActive="active" routerLink="../candidate/"> Add Candidate </button>
       
    </div>
</div>
    <div class="table-responsive" id="no-more-tables">
    <table class="table table-striped w-200">
        <thead>
            <tr>
                <th style="width: 10%;">Position</th>
                <th style="width: 10%">Application Date</th>
                <th style="width: 10%">Full Name</th>
                <th style="width: 10%">Email</th>
                <th style="width: 10%">Phone No</th>
                <th style="width: 10%">Resume</th>
                <th style="width: 12%">Joining Availability</th>
                <th style="width: 11%">Candidate Status</th>
                <th style="width: 10%">Joining Date</th>
                <th style="width: 10%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidateList">
                <td>{{getPosition(candidate.position)}}</td>
                <td>{{candidate.applicationDate | date:'dd-MMM-yyyy'}}</td>
                <td>{{candidate.firstName}} {{candidate.lastName}} </td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.phoneNo}}</td>
                <td>{{candidate?.documentDetails?.fileName}} 
                   </td>
                <td>{{getAvailability(candidate.joiningAvailability)}}</td>
                <td>{{getStatus(candidate.candidateStatus)}}</td>
                <td>{{candidate.joiningDate | date:'dd-MMM-yyyy'}}</td>
                <td style="white-space: nowrap">
                    <img alt="" src="assets\image\see-icon.svg" width="30" height="30" routerLinkActive="active"
                        routerLink="../view/{{candidate.id}}/" /><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <img alt="" src="assets\image\pen.svg" width="20" height="20" routerLinkActive="active"
                        routerLink="../edit/{{candidate.id}}/" /><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <img alt="" src="assets\image\interview-icon.svg" width="30" height="30" routerLinkActive="active"
                        routerLink="../interview/{{candidate.id}}/" />
            
                </td>
            
            </tr>

        </tbody>
    </table>
    </div>
    <router-outlet></router-outlet>
</div>